# Environnement virtuel
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Fichiers IDE
.idea/
.vscode/

# Logs
*.log

# Dossier Images (tu peux l'inclure si tu veux versionner les images)
# Sinon ajoute Images/ si tu veux l'exclure
